.todo__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
  gap: 35px;
  overflow: hidden;
}

.completed {
  text-decoration: line-through;
}
.taskText {
  max-width: 80%;
  overflow: hidden;
}
.todo__item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 35px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 25px;
}

.checkboxInput {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 1px solid #8de0c8;
}

.checkboxContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkboxContainer input:checked ~ .checkmark {
  background-color: #8de0c8;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkboxContainer input:checked ~ .checkmark:after {
  display: block;
}

.checkboxContainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.checkboxContainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.button__delete {
  border: none;
  cursor: pointer;
  background: #ff00004d;
}
